.offcanvas {
    width: 300px !important;
}

select {
    width: 100% !important;
}

option {
    width: 267px !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.page-item.active .page-link {
    background-color: #6a727a;
    border-color: #6a727a;
}

.page-link {
    color: #6a727a;
}

.page-link:focus {
    color: #6a727a;
}