.resultsTitle {
    font-size: clamp(1.3rem, 3vw, 2.2rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.resultsContainer {
    text-align: center;
    margin: 1rem 5vw;
}

.resultsTableHead {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-weight: bold;
    border-bottom: 1px #bbb solid;
    font-size: clamp(0.7rem, 2vw, 1.4rem);
}

.resultItem {
    border: 1px #eee solid;
    margin: 1rem 0;
    display: grid;
    column-gap: 0.3rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5rem 0.5rem;
}

.modelData {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.7rem, 2vw, 1.4rem);
}

.sidebarSwitch {
    color: #fff;
    background-color: #212529;
    /* border: 2px #aaa solid; */
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    top: 50vh;
    padding: 0.4rem;
    cursor: pointer;
    transition: .3s;
}

.sidebarSwitch:hover {
    width: 40px;
}

.inputWrapper {
    margin: 1rem auto;
}